* {
    margin: 0;
  }

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    width: 99%;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

/* ----------Début du header----------*/

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    height: 79px;
}

.logo {
    width: 61px;
    height: 19px;
    padding: 30px 0px 30px 0px;
    margin-left: 50px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 35px;
}

.header-link {
    width: 125px;
    padding: 20px 0px 40px 0px;
    text-align: center;
    font-size: 16px;
    border-top: 3px solid transparent;
}

.header-link:hover {
    color: #0065FF;
    border-top: 3px solid #0065FF;
}

/* ----------Fin du header - Début de la Section recherche---------- */

.found {
    margin-top: 20px;
    margin-bottom:15px ;
}

.town-center p {
    font-size: 16px;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin-top: 1px;
    margin-bottom: 20px;  
}

/* ----------Début de la barre de recherche---------- */

.search-text {
    max-width: 100%;
    margin-top: 1px;
    padding-bottom: 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 49px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.search-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;  
}

.line {
    width: 193px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    border: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    color: black;
    opacity: 1;
}

input::placeholder {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 0 0 70px 0;
    opacity: 1;
}

.form {
    display: flex;
    align-items: center;
    width: 377px;
}

button { 
    box-sizing: border-box;
    width: 132px;
    height: 49px;
    margin: 0 auto;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FF;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

button i {
    display: none !important;
}

/* ----------Fin de la barre de recherche - Début des filtres de recherche--------- */

.filters {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1340px;
    padding-bottom: 17px;
} 

.filters h3 {
    height: 20px;
    width: 54px;
    text-align: left;
    margin-top: 15px; 
}

.search-filters {
    display: flex;
    width: 820px;
    height: 54px;
    padding-left: 2px;   
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    gap:10px;
}

.filter-bloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.filter-button {
    width: 160px;
    height: 50px ;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
}

.filter-button span {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.filter-button p span {
    font-weight: 700;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 22px;
    color: black;
}

.filter-button i {
    font-size: 22px;
    color:#0065FF
}

/* ----------Fin de la partie filtres - Début de la ligne d'info---------- */

.info {
    display: flex;
    max-width: 1440px;
    min-width: 320px;
    padding-top: 20px;
    padding-bottom: 38px;
    align-items: center;
}

.icon-info {
    width: 24px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    text-align: center;
    padding-top: 2px;
    color: #0065FF;
}

.text-info {
    font-size: 16px;
    padding-left: 16px;
}

/* ----------Fin de la partie Recherche---------- */

/* ----------Début de la partie hébergements et populaires---------- */

main {
    width: 99%;
}

.accommodation {
    display: flex;
    justify-content: space-between;
}

.accommodation section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-star {
    color: #0065FF;
}

.neutral-star {
    color: #F2F2F2
}

/* ----------Début de la section hébergements----------*/

.housing {
    display: flex;
    flex-wrap: wrap;
    width: 67%; 
}

.housing-title {
    display: flex;
    height: 35px;
    margin-bottom: 2px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.section-housing {
    display: flex;
}

.housing-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    gap: 5px;
}

 .bloc1 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 23px;
 }

 .bloc2 {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    gap: 23px;
 }

.housing-card {
    justify-content: center;
    width: 33%;
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.topcard {
    display: flex;
    width: 100%;
    justify-content: center;
}
.housing-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.housing-card i {
    font-size: 14px;
}

.housing-card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.02);
}

.housing-cards img {
    display: flex;
    justify-content: center;
    width: 94%;
    height: 114px;
    padding-top: 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.housing-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.housing-cards .card-title {
    margin-top: 8px;
    margin-bottom: 10px;  
}

.housing-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.housing-cards span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 0px;
}

.housing-cards .card-rating {
    margin-bottom: 7px;
    margin-top: 7px;
}

.showmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top: 24px; 
}

.more {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
/* ----------Fin de la section Hébergements---------- 
----------Début de la section Populaires----------*/

.popular {
    width: 30%; 
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.fa-chart-line {
    color: #0065FF;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popular-cards .card img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-content p {
    font-size: 14px;
    font-weight: 400;
}

.popular-cards .card-txt span {
    margin-left: 0px;
    font-weight: 600;
    font-size: 14px;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

.popular-cards i {
    font-size: 12px;
}

.card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.02);
 }

 /* ----------Fin de la section Populaires----------
 ----------Début de la partie Activités----------*/

 .activitiesinmarseille {  
    margin-top: 20px;
    column-gap: 16px;
 }

 .activities-container {
    display: flex;
    flex-direction: column;
 }

 .activities {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px; 
 }

 .activities-title {
    display: flex;
    justify-content: left;
    font-size: 22px;
    margin-left: 29px;
    padding-top: 40px;
    padding-bottom: 30px;
 }

 .activity {
    display: flex;
    flex-direction: column;
    height: 439px;
    width: 24%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
 }

 .activity img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
 }

 .activity h3 {
    display: flex;
    height: 25px;
    margin-left: 15px;
 }

 .activity:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.02);
 }

 .name {
    margin-left: 20px;
    padding-top: 27px;
 }

 /*----------Fin de la partie Activités----------
 ----------Début du Footer----------*/
 
 footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 97%;
    padding-left: 3%;
 }

 footer div {
    width: 33%;
    min-width: 200px;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
 }

 footer ul {
    list-style-type: none;
    padding: initial;
    margin-top: 4px;
 }

 footer li {
    margin-top: 15px;
    margin-bottom: 15px;
 }

 footer h3 {
    margin-bottom: 15px;
 }

 footer a {
    font-size: 16px;
 }

 /* ----------Fin du Footer----------
------------ Début de la partie partie Responsive Design---------- */

 /* -----------Format Tablette----------- */

 @media screen and (max-width: 1024px) {

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .header-nav {
        padding-right: 20px;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }

    .search-filters {
        display: flex;
        flex-wrap: nowrap;
        width: 98%;
        padding-left: 0px;
        padding-top: 23px;
    }

    .search-bar {
        padding-bottom: 1px;
    }

    .filter {
        width: 95%;
        max-width: 667px;
        flex-wrap: nowrap;
        justify-content: left;
        margin-left: 0px;
        gap: 10px;
    }

    .filter-bloc {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .filter-bloc a {
        display: block;
        width: 100%;
        max-width: 344px;
    }

    .filter-button {
        width: 98%;
        max-width: 167px;
        padding-left: 0px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .filter-button span {
        width: 25%;
        height: 49px;
        font-size: 16px;
    }

    .filter-button p {
        font-size: 16px;
        width: 70%;
        text-align: left;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .accommodation {
        flex-direction: column;
    }

    .housing {
        width: 100%;
    }

    .housing-title {
        margin-bottom: 27px;
    }

    .housing-cards {
        width: 100%;
        gap: 25px;
    }

    .showmore {
        margin-top: 29px;
        margin-bottom: 10px;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular img {
        width: 30%;
        height: 146px;
    }

    .popular-cards a {
        width: 32%;
    }

    .activities-title {
        padding-bottom: 20px;
    }
    
    .activity {
        height: 270px;
        justify-content: center;
        margin-top: 30px;
    }

    .activity a {
        display: flex;
        flex-direction: column;
    }
    
    .activity img {
        height: 200px;
    }

    .name {
        display: flex;
        height: 70px;
        padding-top: 0px;
    }

    .name h5 {
        display: flex;
        align-items: center;
    }
 } 

 /* ----------Format Mobile----------*/

 @media screen and (max-width: 767.98px) {

    .main-container {
        width: 100%;
        padding: 0px 0px;
        justify-content: center;
        box-sizing: content-box;
    }

    .header-container {
        height: 115px;
        flex-direction: column;
    }
    
    .logo {
        padding-top: 25px;
        width: 61px;
        height: 19px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .header-nav {
        width: 100%;
        justify-content: center;
        padding: 0px;
    }
  
    .header-link {
        width: 100%;
        border-top: transparent;
        padding-bottom: 20px;
        border-bottom: 2px solid transparent;
    }

    .header-link:hover {
        color: #0065FC; 
        border-top: transparent;
        border-bottom: 2px solid #0065FC;   
    }
     
    .search {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .search-text {
        margin-left: 6px;
        padding-bottom: 5px;
    }

    .search-bar {
        width: 100%;
    }

    .form {
        width: 80%;
        justify-content: center;
        margin: auto;
    }

    .line {
        width: 85%;
        min-width: 163Px;
        margin-right: -2px;
    }
    .search-logo {
       min-width: 49px;
    }

    button {
        width: 50px;
        min-width: 49px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    }

    button i {
        display: contents !important;
        width: 49px;
        color:#FFFFFF
    }

    button span {
        width: 49px;
        display: none !important;
    }

    .filters {
        margin-left: -4px;
    }

    .filters h3 {
        margin-left: 9px;
    }

    .search-filters {
       min-width: 120px;
        height: 140px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .filter {
        width: 90%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .filter-bloc {
        width: 100%;
        justify-content: center;
        max-width: 420px;
    }

    .filter-button {
        width: 100%;
        max-width: 200px;
    }

    .filter a {
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 130px;
    }

    .filter-button p {
        font-size: 14px;
        min-width: 80px;
        padding-left: 9px;
    }

    .filter-button span  {
        padding-left: 5px;
    }

    .info {
        max-width: 98%;
        margin-left: 4px;
    }
    .text-info {
        width: 100%;
    }

    .accommodation {
        flex-direction: column-reverse;   
    }

    .accommodation section {
        border-radius: 0px;
        padding: 20px;
    }

    .popular {
        margin-top: 0px;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #F2F2F2;
    }

    .popular-cards {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .popular-cards .card{
        margin-top: 15px;
    }
    
    .popular-cards a {
        width: 100%;
    }

    .bloc1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0px;
    }

    .bloc2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0px;
    }

    section.housing {
        background-color: #FFFFFF;
    }

    .housing-title {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .housing-cards {
        gap: 0px;
    }

    .housing-card {
        width: 100%;
        margin-bottom: 9px;
        margin-top: 9px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .housing-card img {
        width: 98%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .showmore {
        margin-top: 10px;
        margin-left: 0px;
    }

    .activitiesinmarseille {
        padding-bottom: 40px;
    }
    .activities {
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
    }

    .activities-title {
        margin-bottom: 25px;
    }
    
    .activity {
        height: 200px;
        width: 100%;
        margin-top: 5px;
    }

    .activity img {
        height: 141px;
    }

    .name {
        padding-bottom: 5px;
    }

    .footer {
        flex-direction: row;
        
    }

    .about {
        width: 97%;
        padding-left: 20px;
    }

    .our-hostings {
        width: 97%;
        padding-left: 20px;
    }

    .support {
        width: 97%;
        padding-left: 20px;
        padding-bottom: 70px;
    }
 }

    
 