body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

/* Début du header*/

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    height: 79px;
}

.logo {
    width: 61px;
    height: 19px;
    padding: 30px 0px 30px 0px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-link {
    width: 125px;
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-size: 16px;
    border-top: 3px solid transparent;
}

.header-link:hover {
    color: #0065FF;
    border-top: 2px solid #0065FF;
}

.town-center p {
    font-size: 16px;
}
/* Fin du header - Début de la Section recherche */

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin-top: 1px;
    margin-bottom: 20px;  
}

/* Barre de recherche*/

.search-text {
    max-width: 100%;
    margin-top: 1px;
    padding-bottom: 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 49px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.search-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;  
}

.line {
    width: 193px;
    height: 42px;
    margin: 0 auto;
    text-align: center;
    border: none;
    outline-style: solid;
    outline-color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    color: black;
    opacity: 1;
}

input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 0 0 70px 0;
    opacity: 1;
}
/* A utiliser pour enlever la x en cas d'utilisation de input-search

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
*/

.form {
    display: flex;
    align-items: center;
    width: 377px;
}

button { 
    box-sizing: border-box;
    width: 132px;
    height: 49px;
    margin: 0 auto;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FF;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

button i {
    display: none !important;
}

/* Les filtres de recherche*/

.filters {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 1340px;
    padding-bottom: 17px;
} 

.filters h2 {
    height: 20px;
    width: 80px;
    text-align: left;
    margin-top: 15px; 
}

.search-filters {
    display: flex;
    max-width: 1440px;
    padding-left: 2px;   
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-height: 350px ;
    justify-content: space-evenly;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    gap:10px;
}

.filter-button {
    width: 160px;
    height: 50px ;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-left: 7px;
    padding-bottom: 2px;
    font-size: 17px;
    font-weight: 700;
}

.filter-button:hover {
    background-color: #DEEBFF;
    color: #0065FF;
    border-color: #DEEBFF;
}

.filter a {
    height: 50px;
}

p span {
    font-weight: 700;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 17px;
    color: black;
}

p span i {
    color:#0065FF
}

/*La ligne d'info*/

.info {
    display: flex;
    max-width: 1440px;
    min-width: 320px;
    margin-bottom: 20px;
    align-items: center;
}

.icon-info {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    text-align: center;
    padding-top: 2px;
    color: #0065FF;
}

.text-info {
    font-size: 16px;
    padding-left: 16px;
}

/* Section hébergement et populaires */

.accommodation {
    display: flex;
    justify-content: space-between;
}

.accommodation section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.fa-chart-line {
    color: #0065FF;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-content p {
    font-size: 14px;
    font-weight: 400;
}
.card-txt span {
    margin-left: 0px;
    font-weight: 600;
    font-size: 14px;
}

.fa-star {
    color: #0065FF;
}
.neutral-star {
    color: #F2F2F2
}

/* Section hébergements*/

.housing {
    display: flex;
    flex-wrap: wrap;
    width: 66%; 
}

.housing-title {
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.section-housing {
    display: flex;
}

.housing-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    gap: 22px;
}

 .bloc1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .bloc2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

.housing-card {
    justify-content: center;
    width: 33%;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.housing-card a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.housing-card i {
    font-size: 14px;
}

.housing-card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.02);
}

.housing-cards img {
    height: 114px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.housing-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.housing-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.housing-cards .card-subtitle {
    margin: 0;
}

.housing-cards .card-rating {
    margin-bottom: 7px;
    margin-top: 7px;
}

.showmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top: 24px; 
}

.more {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
}

/* Section populaires*/

.popular {
    width: 31%; 
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

.popular-cards i {
    font-size: 12px;
}

.card {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.02);
 }

 /*Secton Activités*/

 .activitiesinmarseille {  
    margin-top: 20px;
    column-gap: 16px;
 }

 .activities-container {
    display: flex;
    flex-direction: column;
 }

 .activities {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 35px;
    margin-right: 35px; 
 }

 .activities-title {
    display: flex;
    justify-content: left;
    font-size: 22px;
    margin-left: 40px;
 }

 .activity {
    display: flex;
    flex-direction: column;
    height: 439px;
    width: 24%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
 }

 .activity img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
 }

 .activity h3 {
    display: flex;
    height: 25px;
    margin-left: 15px;
 }

 .activity:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.02);
 }

 .name {
    margin-left: 20px;
 }

 /*Footer*/
 
 footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 15px;
    width: 100%;
 }

 footer div {
    width: 33%;
    min-width: 200px;
    display: block;
 }

 footer ul {
    list-style-type: none;
    padding: initial;
    margin-top: 4px;
 }

 footer li {
    margin-top: 15px;
    margin-bottom: 15px;
 }

 footer h3 {
    margin-bottom: 15px;
 }

 footer a {
    font-size: 16px;
 }

 /* partie responsive*/

 @media (max-width: 1024px) {

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }

    .search-filters {
        display: flex;
        flex-wrap: nowrap;
        min-width: 730px;
        padding-left: 0px;
    }

    .filter {
        margin-left: 0px;
        gap: 2px;
    }

    .filter a {
        width: 169px;
    }

    .filter-button {
        width: 145px;
        padding-left: 0px;
    }

    .filter-button p {
    width: 155px;
    }

    .filter-button span {
    font-size: 16px;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .accommodation {
        flex-direction: column;
    }

    .housing {
        width: 100%;
    }

    .housing-cards {
        width: 100%;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular img {
        width: 30%;
        height: 146px;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    .activity {
        height: 270px;
        justify-content: center;
        margin-top: 30px;
    }

    .activity a {
        display: flex;
        flex-direction: column;
    }
    
    .activity img {
    height: 200px;
    }

    .name {
        display: flex;
       height: 70px;
    }

    .name h5 {
        display: flex;
        align-items: center;
    }

 } 

 /* Small devices*/

 @media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        padding: 0px 0px;
        justify-content: center;
        box-sizing: content-box;
    }

    .header-container {
        height: 115px;
        flex-direction: column;
    }
    
    .logo {
        padding-top: 25px;
        width: 61px;
        height: 19px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .header-nav {
        width: 100%;
        height: 36px;
        justify-content: center;
        padding: 0px;
    }
  
    .header-link {
        width: 100%;
        border-top: transparent;
    }
    .header-link:hover {
        color: #0065FC; 
        border-top: transparent;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
    }
     
    .search {
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 4px;
    }
    .search-text {
        margin-left: 6px;
        padding-bottom: 5px;
    }

    .search-bar {
        width: 100%;
    }

    .form {
        width: 80%;
        justify-content: center;
        margin: auto;
    }

    .line {
        width: 85%;
        min-width: 163Px;
        margin-right: -2px;
    }
    .search-logo {
       min-width: 49px;
    }

    button {
        width: 50px;
        min-width: 49px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -4px;
    }

    button i {
        display: contents !important;
        width: 49px;
        color:#FFFFFF
    }

    button span {
        width: 49px;
        display: none !important;
    }

    .filters {
        margin-left: 4px;
    }

    .search-filters {
        display: flex;
        flex-wrap: wrap;
        min-width: 320px;
    }

    .filter {
        justify-content: center;
        padding-right: 5px;
        width: 335px;
        gap: 10px;
    }

    .filter a {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 147px;
    }

    .filter-button p {
        font-size: 14px;
        width: 147px;
    }

    .info {
        max-width: 100%;
        margin-left: 4px;
    }
    .text-info {
        width: 100%;
    }

    .accommodation {
        flex-direction: column-reverse;   
    }

    .accommodation section {
        border-radius: 0px;
    }

    .popular {
        margin-top: 0px;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #F2F2F2;
    }

    .popular-cards {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .popular-cards .card{
        margin-top: 15px;
    }
    
    .popular-cards a {
        width: 100%;
    }

    .bloc1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bloc2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    section.housing {
        background-color: #FFFFFF;
    }

    .housing-cards {
        gap: 0px;
    }

    .housing-card {
        width: 100%;
        margin-bottom: 9px;
        margin-top: 9px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .activities {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .activities-title {
        margin-bottom: 35px;
    }
    
    .activity {
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }

    .activity img {
        height: 141px;
    }

    .footer {
        flex-direction: row;
    }

    .about {
        width: 100%;
    }

    .our-hostings {
        width: 100%;
    }

    .support {
        width: 100%;
    }
 }

    
 